<!DOCTYPE html>
<html>
   <head>
      <title>Auto Scratch Desktop Mirror</title>
      <meta name="viewport" content="width=device-width,initial-scale=1" />
      <meta
         name="viewport"
         content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes"
      />
      <link
         rel="shortcut icon"
         href="//www.google.com/s2/favicons?sz=64&domain=scratch.mit.edu"
      />
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script
         async
         src="https://www.googletagmanager.com/gtag/js?id=G-FD23CNKF3B"
      ></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag() {
            dataLayer.push(arguments);
         }
         gtag("js", new Date());
         gtag("config", "G-FD23CNKF3B");
      </script>
      <link
         href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
         rel="stylesheet"
      />
      <link
         href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
         rel="stylesheet"
      />
      <link
         href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
         rel="stylesheet"
      />
      <meta
         name="viewport"
         content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
      />
   </head>

   <body>
      <div id="app">
         <v-app>
            <v-main>
               <v-toolbar elevation="4">
                  <v-app-bar-nav-icon>
                     <v-icon>mdi-download-box-outline</v-icon>
                  </v-app-bar-nav-icon>
                  <v-toolbar-title
                     >Auto Scratch-Desktop Mirror NEXT</v-toolbar-title
                  >
               </v-toolbar>
               <v-container class="d-flex mt-5">
                  <v-row class="mx-5">
                     <v-col>
                        <div class="text-body-1">
                           Auto Scratch Desktop Mirror 是一个 Scratch
                           桌面版的开源下载镜像项目。我们通过 Github Workflow
                           自动下载 Scratch 官网的 Scratch 桌面版程序，并透过
                           CDN 或 Github Pages
                           提供，以方便中国大陆地区的用户下载。
                           <p class="font-weight-light mt-2 text-caption">
                              项目开源于
                              <a href="https://github.com/scratch-bar/asdm"
                                 >GitHub</a
                              >，本版本由 waterblock79 开发。
                              <br />
                              感谢: Scratch Team, GitHub, Vue.js, Vuetify.js
                              以及所有为这个项目添砖加瓦的人们!
                           </p>
                        </div>
                     </v-col>
                     <v-col>
                        <v-card elevation="2">
                           <v-card-title>下载 Scratch 3.0</v-card-title>
                           <v-card-text>
                              您也可以尝试
                              <a
                                 href="https://llk.github.io/scratch-gui/develop/"
                                 >在线版本的 Scratch 3.0</a
                              >
                              ，或在应用商店中下载
                              <a
                                 href="https://apps.apple.com/cn/app/scratch-desktop/id1446785996?mt=12"
                                 >Mac OS 版本</a
                              >
                              和
                              <a
                                 href="https://www.microsoft.com/zh-cn/p/scratch-3/9pfgj25jl6x3"
                                 >Windows 10 以上版本</a
                              >
                              的 Scratch 桌面版。
                              <br />
                              <b v-if="data.length"
                                 >最后镜像于 {{ new
                                 Date(data[0].time).toLocaleDateString() }}。</b
                              >
                           </v-card-text>
                           <v-card-actions>
                              <v-btn
                                 color="primary"
                                 v-for="download in data"
                                 @click="downloadItem(download)"
                                 text
                                 :disabled="!!currentDownload"
                              >
                                 <v-icon size="16">{{download.icon}}</v-icon>
                                 {{download.description}}
                              </v-btn>
                           </v-card-actions>
                           <small class="ml-4 blue-grey--text" v-if="currentDownload"
                              >{{ (currentDownload?.size * progress / 100
                              / 1024 / 1024).toFixed(1) }} MB 已下载</small
                           >
                           <v-progress-linear
                              :value="progress"
                              v-if="currentDownload"
                           ></v-progress-linear>
                        </v-card>
                        <v-card elevation="2" class="mt-7">
                           <v-card-title>设置下载源</v-card-title>
                           <v-card-text>
                              通常情况下您<b>不需要更改下载源</b>，但如果默认下载源不可用，您可以更改为另外一个，或者自定义下载源。
                              <v-combobox
                                 v-model="source"
                                 :items="['', 'https://scratch-bar.github.io/asdm/', 'https://cdn.jsdelivr.net/gh/scratch-bar/asdm/']"
                                 dense
                              ></v-combobox>
                           </v-card-text>
                        </v-card>
                     </v-col>
                  </v-row>
               </v-container>
            </v-main>
         </v-app>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script>
         new Vue({
            el: "#app",
            vuetify: new Vuetify(),
            data: {
               data: [],
               source: "",
               currentDownload: null,
               chunkLoaded: [],
               progress: 0,
            },
            watch: {
               source: {
                  handler() {
                     axios
                        .get(`${this.source}output/data.json`)
                        .then((res) => {
                           this.data = res.data;
                        });
                  },
                  immediate: true
               },
            },
            methods: {
               computeProgress() {
                  if (this.currentDownload) {
                     let sum = 0;
                     this.chunkLoaded.forEach((c) => {
                        if (Number.isInteger(c)) {
                           sum += c;
                        }
                     });
                     return (sum / this.currentDownload.size) * 100;
                  } else {
                     return 0;
                  }
               },
               downloadItem(item) {
                  this.currentDownload = item;
                  this.chunkLoaded = [];
                  let chunks = [],
                     sum = 0;
                  item.download.forEach((chunk, index) => {
                     let chunkUrl = `${this.source}output/${chunk}`;
                     axios
                        .get(chunkUrl, {
                           responseType: "arraybuffer",
                           onDownloadProgress: (e) => {
                              this.chunkLoaded[index] = e.loaded;
                              this.progress = this.computeProgress();
                           },
                        })
                        .then((res) => {
                           chunks[index] = res.data;
                           sum++;
                           if (sum === item.download.length) {
                              let size = 0;
                              chunks.forEach((c) => (size += c.byteLength));
                              let output = new Uint8Array(size),
                                 offset = 0;
                              chunks.forEach((c) => {
                                 output.set(new Uint8Array(c), offset);
                                 offset += c.byteLength;
                              });
                              let a = document.createElement("a");
                              a.href = URL.createObjectURL(new Blob([output]));
                              a.download = item.fileName;
                              a.click();
                              this.currentDownload = null;
                           }
                        })
                        .catch((e) => {
                           alert("我们遇到了一个错误：\n" + e);
                        });
                  });
               },
            },
         });
      </script>
   </body>
</html>
